<main>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path "pets_banner.jpg"%>); background-size: cover;">
    <div class="container py-4">
      <div class="p-5 mb-4 bg-gradient-light rounded-3 text-white">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Love My Pet</h1>
          <p class="col-md-8 fs-4">A maior pagina de hospedagem do seu bicho</p>
          <p>Encontre o melhor local para hospedar o seu amigo com total conforto e segurança</p>
          <%= link_to "Hospedagens", locations_path, class: "btn btn-primary btn-lg"%>
        </div>
      </div>
      <div class="row align-items-md-stretch">
        <%# <div class="col-md-6"> %>
          <%# <div class="h-100 p-5 text-white bg-dark rounded-3 opacity-75">
            <h2>Change the background</h2>
            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
            <button class="btn btn-outline-light" type="button">Example button</button>
          </div> %>
        <%# </div> %>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3 opacity-75">
            <h2>Seja um tio de bicho</h2>
            <p>Vem ver como a gente conecta quem tem bicho a tios que cuidam deles no dia e na hora que você precisar!</p>
            <%= link_to "Adicionar Hospedagem", new_location_path, class: "btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
