<h1>Suas reservas</h1>

<% if @reservations.empty? %>
  "Voce nao possui nenhuma reserva confirmada."
<% else %>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Entrada</th>
        <th>Saida</th>
        <th>Detalhes</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.start_date %></td>
            <td><%= reservation.end_date %></td>
            <td><%= link_to 'Ver', reservation_path(reservation) %></td>
            <% if reservation.status.nil? %>
            <td><span class="badge bg-success">Ativa</span></td>
            <% else %>
            <td><span class="badge bg-danger">Canceleda</span></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>