
<div class= "container">
<h1>Nova reserva</h1>

<%#= simple_form_for @reservation, as: :location, url: reservation_path(@reservation), method: :post do |f| %>
<%#= f.input :start_date %>
<%#= f.input :end_date %>
<%#= f.input :price %>
<%#= f.input :total %>
<%#= f.input :status %>
<%#= f.submit "Reservar", class:"btn btn-primary" %>
<%# end %>
</div>

